<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    CSS BOOTSTRAP-->
    <div th:fragment="css">
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
        <!--        <link rel="stylesheet" th:href="@{/css/estilos.css}">-->
        <style type="text/css">
            .bg-success {
                background-color: #025a27 !important;
            }

            a {
                color: #025a27 !important;
            }

            h1 {
                color: black;
            }

            h3 {
                color: black;
            }

            li {
                color: black;
            }

            ul {
                color: black;
            }

            p {
                color: black;
                text-align: justify;
            }

            h4 {
                color: black;
            }

            ol {
                color: black;
            }

        </style>
    </div>
</head>
<body>

<!--Se define el NAV como un fragmento para ser reutilizado-->
<div th:fragment="nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/index}">
                <img src="img/a11ytools.png" dir="auto" alt="Inicio" width="140px" height="45px"/>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div>
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <div class="vr"></div>
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" th:href="@{/index}">Accesibilidad</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" th:href="@{/powerpoint}">MS PowerPoint</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" th:href="@{/word}">MS Word</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" th:href="@{/pdf}">Doc. PDF</a>
                                </li>
                                <div class="vr"></div>
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" th:href="@{/audiolibros}">Audiolibro</a>
                                </li>
                                <div class="vr"></div>
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" th:href="@{/nvda}">Software para Escucha</a>
                                </li>

                                <div class="vr"></div>
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" th:href="@{/dislexia}">Software para Dislexia</a>
                                </li>

                                <div class="vr"></div>
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" th:href="@{/zoomit}">Software para Lectura</a>
                                </li>
                                <div class="vr"></div>
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" th:href="@{/acercade}">Acerca de</a>
                                </li>
                            </ul>

                        </div>
                    </div>

                </nav>
            </div>
        </div>
    </nav>

    <div class="navbar navbar-expand-lg bg-success">
    </div>
    <!--    Fin del NAV-->
</div>
<div th:fragment="btntop">
    <button
            style="background-color: rgb(2, 90, 39); position: fixed;right: 20px; bottom: 70px ;width: 50px; height: 50px;transition: all 300ms ease 0ms;font-size: 21px; z-index: 10"
            class=" btn rounded-circle"
            data-bs-toggle="modal"
            data-bs-target="#myModal"><i class="fa-solid fa-sliders text-light"></i>
    </button>
</div>




<di th:fragment="footer">
    <br>
    <footer class="footer  fixed-bottom bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center text-light p-3" style="background-color: rgb(2, 90, 39);">
            © 2023 Copyright:
            <a class="text-light" href="https://www.uteq.edu.ec/"> Universidad Técnica Estatal de Quevedo</a>
        </div>
        <!-- Copyright -->
    </footer>
</di>
<!--JS DE BOOTSTRAP-->
<div th:fragment="js">
    <script src="https://kit.fontawesome.com/665e68fd02.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{js/ColorTexto.js}"></script>

</div>
</body>
</html>