<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Software para dislexia</title>
    <!--    Carga los estilos CSS de bootstrap-->
    <div th:insert="fragments/base :: css"></div>
</head>
<body onload="establecerTamañoFuente()"><!--Carga el NAV-->
<div th:insert="fragments/base :: nav"></div>
<!--Escribir contenido-->
<div class="container">

    <br>
    <h1>Software para dislexia</h1>

    <section>
        <p>Existe software diseñado específicamente para ayudar a las personas con dislexia a mejorar su capacidad de
            lectura y escritura. Puede incluir características como lectura en voz alta, modificación del tamaño y color
            de letra. También puede ser personalizada la configuración para adaptarse a las necesidades individuales de
            cada usuario.
        </p>
        <p>
            En este punto, no está por demás recordar de qué se trata la dislexia. La dislexia es un trastorno
            específico del aprendizaje que afecta la habilidad de una persona para leer, escribir y deletrear con
            fluidez y precisión. Este trastorno tiene un origen neurológico y se caracteriza por dificultades en la
            identificación de las palabras y habilidades de decodificación y ortografía deficientes. Estas dificultades
            suelen ser causadas por un déficit en el procesamiento fonológico del lenguaje. La dislexia puede tener un
            impacto significativo en la capacidad de una persona para comprender lo que lee y para expresarse por
            escrito.
        </p>

        <h3>OpenDyslexia</h3>
        <p>OpenDyslexia es una fuente de texto diseñada especialmente para personas con dislexia. Fue creada por
            Abelardo Gonzalez, un diseñador gráfico con dislexia, con el objetivo de ayudar a las personas con esta
            condición a leer con mayor facilidad .</p>
        <p>La fuente OpenDyslexic utiliza características tipográficas especiales para hacer que las letras sean más
            fáciles de distinguir entre sí. Por ejemplo, las letras "b" y "d" tienen una línea adicional en la parte
            superior o inferior para ayudar a diferenciarlas. También hay más espacio entre las letras para evitar la
            confusión entre palabras similares.</p>

        <h4>Guia de uso</h4>

        <ol>
            <li>Se procede a abrir la herramienta que se utilizará, en este caso la aplicación de Microsoft office.</li>
            <li>Una vez ingresado, dirigirse a la pestaña “Inicio” como se ve en la Figura 4.</li>

            <section style="padding: 30px">
                <div class="row">
                    <figure>
                        <img src="img/pestaniainicio.png" dir="auto" class="w-40 h-60 rounded mx-auto d-block"
                             alt="Pestaña Inicio" title="Pestaña Inicio">
                        <figcaption class="text-center" style="color: #858796">Figura 4. Pestaña “Inicio”</figcaption>
                    </figure>
                </div>
            </section>

            <li>Por último, seleccionar la fuente OpenDyslexic como se puede notar en la Figura 5 y así aplicarla en
                donde se utilizará.
            </li>


            <section style="padding: 30px">
                <div class="row">
                    <figure>
                        <img src="img/fuenteopendislexic.png" dir="auto" class="w-40 h-60 rounded mx-auto d-block"
                             alt="Fuente OpenDyslexic" title="Fuente OpenDyslexic">
                        <figcaption class="text-center" style="color: #858796">Figura 5. Fuente OpenDyslexic
                        </figcaption>
                    </figure>
                </div>
            </section>
        </ol>
        <p>En caso de no tener instalada la fuente seguir los siguientes pasos:</p>
        <ol>
            <li>Descargar la fuente OpenDyslexic desde la página oficial de descarga: <a
                    href="https://opendyslexic.org/">https://opendyslexic.org/</a>.
            </li>
            <li>Descomprimir el archivo ZIP descargado.</li>
            <li>Abrir el archivo de fuentes e instalarlo, tal y como se muestra en la Figura 6.</li>


            <section style="padding: 30px">
                <div class="row">
                    <figure>
                        <img src="img/instalaciondefuente.png" dir="auto" class="w-40 h-60 rounded mx-auto d-block"
                             alt="Fuente OpenDyslexic" title="Fuente OpenDyslexic">
                        <figcaption class="text-center" style="color: #858796">Figura 5. Fuente OpenDyslexic
                        </figcaption>
                    </figure>
                </div>
            </section>
            <li>Cerrar y volver a abrir cualquier programa en el que se desee utilizar la fuente OpenDyslexic.</li>
        </ol>

    </section>


    <section>
        <h3>Dyslexia Friendly</h3>
        <p>Dyslexia Friendly es una extensión gratuita para Google Chrome que ofrece una variedad de opciones de
            accesibilidad para personas con dislexia. Esta herramienta aumenta la legibilidad de los sitios web
            cambiando a fuentes más fáciles de leer y agregando mejoras visuales. En resumen, es una extensión auxiliar
            de lector de dislexia fácil de usar.</p>
        <p><b>Características de Dyslexia Friendly:</b></p>
        <ul>
            <li>Cambiar la fuente en los sitios web a OpenDyslexic o Comic Sans.</li>
            <li>Mejorar el contraste entre los párrafos de texto mediante el uso de diferentes colores de fondo para los
                párrafos pares e impares.
            </li>
            <li>Incorporar una regla de lectura que siga el cursor del ratón para ayudar a los lectores con dislexia a
                mantenerse enfocados en el texto.
            </li>
            <li>Permitir que los usuarios configuren estas opciones de acuerdo con las preferencias y necesidades
                específicas.
            </li>
        </ul>

        <h4>Guia de uso</h4>
        <ol>
            <li>Se debe abrir la extensión en la barra de extensiones del navegador y activarla como se muestra en la
                ilustración Figura 7.
            </li>


            <section style="padding: 30px">
                <div class="row">
                    <figure>
                        <img src="img/paneldedislexiafriendly.png" dir="auto" class="w-40 h-60 rounded mx-auto d-block"
                             alt="Apertura del panel de Dislexia Friendly"
                             title="Apertura del panel de Dislexia Friendly">
                        <figcaption class="text-center" style="color: #858796">Figura 7. Apertura del panel de Dislexia
                            Friendly
                        </figcaption>
                    </figure>
                </div>
            </section>
            <li>Se debe verificar que se encuentre activada la fuente de dislexia, tal y como se aprecia en la <em>Figura
                8</em>.
            </li>

            <section style="padding: 30px">
                <div class="row">
                    <figure>
                        <img src="img/fuentededislexiaactivada.png" dir="auto" class="w-40 h-60 rounded mx-auto d-block"
                             alt="Ejecución de Dyslexia Friendly" title="Ejecución de Dyslexia Friendly">
                        <figcaption class="text-center" style="color: #858796">Figura 8. Ejecución de Dyslexia Friendly
                        </figcaption>
                    </figure>
                </div>
            </section>
            <li>Una vez activada la fuente, se puede navegar por la página web con la configuración de Dislexia Friendly
                aplicada, lo que debería hacer el texto más fácil de leer para las personas con dislexia.
            </li>
        </ol>

        <h4>Enlace de la herramienta</h4>
        <p>Para obtener la extensión de Dislexia Friendly, visita la <a
                href="https://chrome.google.com/webstore/detail/dyslexia-friendly/miepjgfkkommhllbbjaedffcpkncboeo">Chrome
            Web Store</a>.</p>

    </section>
    <section>
        <h3>NaturalReader</h3>
        <p>Una tercera opción para considerar en este material es el subtitulado. Natural Reader es una herramienta
            de software de voz en línea que convierte texto a voz. Tiene la particularidad de proporcionar
            subtítulos en tipografía de OpenDyslexic. Esta aplicación puede leer cualquier texto en línea, como
            documentos de Word, páginas web y PDF.</p>
        <p>Es una herramienta útil para personas con dificultades de lectura, estudiantes, escritores y cualquier
            persona que busque mejorar la accesibilidad y la eficiencia en su trabajo.</p>
        <h4>Guía de uso:</h4>
        <ol>
            <li>Abrir la aplicación NaturalReader.</li>
            <li>Seleccionar el texto que se desea leer: Copia y pega el texto que deseas que NaturalReader lea en la
                ventana de texto del software. También puedes importar archivos de texto, documentos PDF y libros
                electrónicos para leerlos en NaturalReader.
            </li>
            <li>Seleccionar la voz: NaturalReader tiene varias voces disponibles para elegir en varios idiomas. Se
                puede seleccionar la voz de preferencia en la pestaña "Voz".
            </li>
            <li>Personalizar la velocidad y el tono de la voz: NaturalReader permite ajustar la velocidad y el tono
                de la voz para que se adapte a las preferencias del usuario. Esto se puede hacer en la pestaña
                "Voz".
            </li>
            <li>Inicia la lectura: Hacer clic en el botón "Play" o presionar la tecla F9 para que NaturalReader
                comience a leer el texto en voz alta. También se puede pausar, detener y saltar hacia adelante o
                hacia atrás en el texto utilizando los botones de control en la ventana de NaturalReader.
            </li>
        </ol>
        <p>Se puede visualizar la tipografía para dislexia en el software NaturalReader en la Figura 9, así como las
            diferentes acciones que se es posible realizar.</p>

        <section style="padding: 30px">
            <div class="row">
                <figure>
                    <img src="img/funcionamientodenaturalreader.png" dir="auto"
                         class="w-40 h-60 rounded mx-auto d-block"
                         alt="Funcionamiento de NaturalReader" title="Funcionamiento de NaturalReader">
                    <figcaption class="text-center" style="color: #858796">Figura 9. Funcionamiento de NaturalReader
                    </figcaption>
                </figure>
            </div>
        </section>

        <h3>Atajos de teclado para NaturalReader</h3>
        <p>El usuario tendrá la posibilidad de realizar acciones mediante los botones que dispone el software o
            también mediante atajos de teclado como se muestra en la siguiente tabla:</p>

        <table class="table table-striped">
            <tr class="table-dark">
                <th>Acción</th>
                <th>Atajo de teclado</th>
            </tr>
            <tr>
                <td>Reproducir/Pausar</td>
                <td>Ctrl + Alt + P</td>
            </tr>
            <tr>
                <td>Detener la lectura</td>
                <td>Ctrl + Alt + S</td>
            </tr>
            <tr>
                <td>Aumentar velocidad de lectura</td>
                <td>Ctrl + Alt + Flecha derecha</td>
            </tr>
            <tr>
                <td>Disminuir velocidad de lectura</td>
                <td>Ctrl + Alt + Flecha izquierda</td>
            </tr>
            <tr>
                <td>Saltar al siguiente párrafo</td>
                <td>Ctrl + Alt + Flecha abajo</td>
            </tr>
            <tr>
                <td>Regresar al párrafo anterior</td>
                <td>Ctrl + Alt + Flecha arriba</td>
            </tr>
            <tr>
                <td>Leer desde el inicio de la selección</td>
                <td>Ctrl + Alt + B</td>
            </tr>
            <tr>
                <td>Leer desde el cursor</td>
                <td>Ctrl + Alt + R</td>
            </tr>
            <tr>
                <td>Silenciar/Activar sonido</td>
                <td>Ctrl + Alt + M</td>
            </tr>
            <tr>
                <td>Abrir archivo</td>
                <td>Ctrl + O</td>
            </tr>
            <tr>
                <td>Guardar archivo</td>
                <td>Ctrl + S</td>
            </tr>
        </table>
        <figcaption class="text-center">Tabla 1. Atajos de teclado para realizar anotaciones</figcaption>
        <section/>


        <h4> Enlace de la herramienta </h4>
        <p> Para obtener la herramienta NaturalReader, visita su sitio web oficial en: <a
                href="https://www.naturalreaders.com/download.php">https://www.naturalreaders.com/download.php</a>.</p>

        <h4>Bibliografías </h4>

        <p>[1] J. J. Wery and J. A. Diliberto, “The effect of a specialized dyslexia font, OpenDyslexic, on reading
            rate and accuracy,” Ann Dyslexia, vol. 67, no. 2, pp. 114–127, 2017, doi: 10.1007/s11881-016-0127-1.
        </p>
        <p>[2] S. A. Ortiz Cisneros, “Propuesta De Un Manual Didáctico Ilustrado Para Niños Con Dislexia De 7 a 11 Años
            Que Sirva Como Instrumento De Apoyo De Lectura Y Desarrollo De Actividades Diarias,” J Chem Inf Model, vol.
            53, no. 9, pp. 1689–1699, 2013.</p>


    </section>


    <br>
    <br>
    <br>
    <br>
    <br>
    <!--BtnTop-->
    <section class="py-5">
        <!-- Button trigger modal -->
        <div th:insert="fragments/base :: btntop"></div>
        <div th:insert="fragments/modal::modal"></div>
    </section>
    <br>
</div>
<div th:insert="fragments/base :: js"></div>
</body>
<!--Cargar el foote-->
<footer>
    <div th:insert="fragments/base::footer"></div>
</footer>
</html>