<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Accesibilidad</title>

    <!--    Carga los estilos CSS de bootstrap-->
    <div th:insert="fragments/base :: css"></div>
</head>
<body><!--Carga el NAV-->
<div th:insert="fragments/base :: nav"></div>
<!--Escribir contenido-->
<div class="container-fluid">
    <section>
        <br>
        <h1 class="text-center bold">Accesibilidad en MS PowerPoint 365</h1>
        <div class="row g-0">
            <div class="col-md-4">
                <figure>
                    <img src="img/pwAccesibilidad.png" dir="auto" class="img-fluid rounded-start"
                         alt="Imagen de accesibilidad en PowerPoint" title="Accesibilidad en MS PowerPoint">
                    <figcaption class="text-center">Figura 1. Accesibilidad en MS PowerPoint</figcaption>
                </figure>
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <p class="card-text">MS PowerPoint 365 tiene muchos recursos integrados que ayudan a los usuarios en
                        diferentes formas ya sea para
                        habilidades de lectura o presentaciones. Sin embargo, los usuarios con discapacidad visual,
                        daltónicos o
                        disléxicos pueden tener dificultades para seguir la presentación o navegar por MS PowerPoint
                        365. Así, el
                        acceso a la presentación para este tipo de usuarios no solo es necesario, sino también esencial.
                        MS
                        PowerPoint 365
                        mejora la accesibilidad a estas presentaciones con la implementación de herramientas tales como:
                        Comprobar
                        accesibilidad, Texto alternativo, Panel de orden de lectura, entre otros.</p>
                    <p class="card-text">En general, las personas que no tienen algún tipo de discapacidad podrían no
                        conocer los parámetros de
                        accesibilidad que se debe de tener en cuenta al momento de elaborar una presentación en MS
                        PowerPoint 365.
                        Esto
                        conlleva a crear un sin número de archivos de presentación sin parámetros de accesibilidad. Por
                        esto resulta
                        complicado para un usuario con discapacidad hacer uso de una presentación en MS PowerPoint
                        365 </p>
                </div>
            </div>
        </div>
        <br>
    </section>
    <section>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h3 class="text-center bold">Comprobar accesibilidad en MS PowerPoint 365</h3>
                <p class="card-text mb-auto">Para acceder al comprobador de accesibilidad que MS PowerPoint 365
                    implementa se debe hacer clic
                    izquierdo en
                    la
                    pestaña “Revisar” para que de esta manera se visualicen las diferentes opciones como se muestra en
                    la Figura
                    2,
                    siendo una de ellas el “Comprobar accesibilidad” </p>
            </div>
        </div>
        <div class="align-content-center">
            <figure>
                <img src="img/comprobadorAccesibilidad.png" dir="auto" class="img-fluid rounded mx-auto d-block"
                     alt="Imagen comprobador de accesibilidad" title="Comprobador de accesibilidad en MS PowerPoint">
                <figcaption class="text-center">Figura 2. Comprobador de accesibilidad en MS PowerPoint</figcaption>
            </figure>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <p class="card-text mb-auto">El comprobador de accesibilidad implementa algunas reglas para que los
                    archivos de MS PowerPoint sean
                    accesibles.
                    Al momento de hacer clic en el comprobador de accesibilidad, estas reglas se ejecutan y evalúan si
                    el
                    archivo
                    PowerPoint las cumple. </p>
            </div>
        </div>

        <br>
    </section>
    <section>
        <div class="container overflow-hidden">
            <div class="row gx-8">
                <div class="col">
                    <div class="p-4 bg-transparent">
                        <h3 class="text-center">Reglas del Comprobador de accesibilidad en Microsoft 365</h3>
                        <p>Para su manejo adecuado el comprobador clasifica cada problema como un error, una advertencia
                            o una
                            sugerencia,
                            en donde:</p>
                        <ul>
                            <li>Error. Se da cuando el documento sea difícil o imposible de leer y entender para
                                personas con
                                discapacidad.
                            </li>
                            <li>Advertencia. Ocurre cuando en la mayoría de los casos, pero no todos, el documento es
                                difícil de
                                comprender para personas con discapacidad.
                            </li>
                            <li>Sugerencia. Surge cuando el contenido puede ser comprendido por personas con algún tipo
                                de discapacidad,
                                pero que podría ser presentado de una mejor manera.
                            </li>
                            <li>Servicios inteligentes. Contenido que se hace accesible automáticamente y que debe
                                revisar para obtener
                                precisión y contexto.
                            </li>
                        </ul>
                        <p>Al hacer clic en un elemento de los resultados, se resalta el elemento correspondiente en el
                            documento y se
                            muestra la sección “Información adicional”:</p>
                        <ul>
                            <li>
                                ¿Por qué corregir?: Explica por qué el problema afecta la accesibilidad.
                            </li>
                            <li>¿Cómo solucionarlo?: Sugerencias para reparar el problema.</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="p-4 bg-transparent">
                        <h3 class="text-center">
                            Comprobar accesibilidad en otras versiones de MS PowerPoint
                        </h3>
                        <p>Para usar la funcionalidad para comprobar accesibilidad en una versión diferente a MS
                            PowerPoint 365 se
                            siguen los siguientes pasos.</p>
                        <ul>
                            <li>Hacer clic izquierdo en “Archivo”</li>
                        </ul>
                        <ul>
                            <li>Dirigirse a “Opciones”, dar clic izquierdo</li>
                        </ul>
                        <ul>
                            <li>Aparecerá una ventana en donde se seleccionará “Barra de herramientas de acceso
                                rápido”
                            </li>
                        </ul>
                        <ul>
                            <li>En el apartado de comandos disponibles por defecto estará “Comandos más utilizados”;
                                cambiar a “Todos
                                los comandos”
                            </li>
                        </ul>
                        <ul>
                            <li>Buscar “Comprobador de accesibilidad” y se da doble clic para colocarlo en la barra de
                                herramientas de
                                acceso rápido
                            </li>
                        </ul>
                        <ul>
                            <li>Por último, se da clic en aceptar</li>
                        </ul>
                        <ul>
                            <li>Se agrega el “Comprobador de accesibilidad” a lado de las herramientas de acceso
                                rápido.
                            </li>
                        </ul>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </section>
    <section>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h3 class="text-center bold">Panel de orden de lectura en MS PowerPoint 365</h3>
                <p class="card-text mb-auto">Las personas que tienen alguna discapacidad visual utilizan lectores de
                    pantalla para leer la información de
                    las diapositivas. Para que los objetos sean colocados en un orden lógico de lectura se usa el panel
                    de orden
                    de lectura para que de esta manera los lectores de pantalla puedan entender la presentación de la
                    diapositiva. En la Figura 3 se presenta un ejemplo del orden de lectura en una diapositiva de MS
                    PowerPoint.</p>
            </div>
        </div>
        <div class="align-content-center">
            <figure>
                <img src="img/panelLectura.png" dir="auto" class="img-fluid rounded mx-auto d-block"
                     alt="Imagen Orden de Lectura en MS PowerPoint." title="Orden de Lectura en MS PowerPoint.">
                <figcaption class="text-center">Figura 3. Orden de Lectura en MS PowerPoint.</figcaption>
            </figure>
        </div>


        <br>
    </section>
    <section>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h3 class="text-center bold">Texto alternativo en MS PowerPoint 365</h3>
                <p class="card-text mb-auto">Al insertar ilustraciones en una presentación de MS PowerPoint con el fin de dar a conocer alguna información
                    es muy probable que una persona con discapacidad visual no reciba dicha información. Para contrarrestar este
                    problema MS PowerPoint 365 implementa la herramienta de texto alternativo con el fin de describir mediante
                    texto el significado y el contexto de un elemento visual. En la Figura 4 se muestra un ejemplo de un texto
                    alternativo aplicado a un objeto visual.</p>
            </div>
        </div>
        <div class="align-content-center">
            <figure>
                <img src="img/textoalternativo.png" dir="auto" class="img-fluid rounded mx-auto d-block"
                     alt="Imagen Panel texto alternativo en MS PowerPoint."
                     title="Panel texto alternativo en MS PowerPoint.">
                <figcaption class="text-center">Figura 4. Panel texto alternativo en MS PowerPoint.</figcaption>
            </figure>
        </div>

        <br>
        <br>
    </section>
    <section class="py-5">
        <div th:insert="fragments/base :: btntop"></div>
        <div th:insert="fragments/modal::modal"></div>
    </section>
    <br>
</div>

<div th:insert="fragments/base :: js"></div>
</body>
<!--Cargar el footer-->
<footer>
    <div th:insert="fragments/base::footer"></div>
</footer>
</html>